<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db/mybatis/db.properties"/>
	
	<typeAliases>
		<typeAlias alias="userVo" type="user.model.UserVo"/>
		<typeAlias alias="boardVo" type="board.model.boardVo"/>
		<typeAlias alias="bulletinVo" type="bulletin.model.bulletinVo"/>
		<typeAlias alias="fileVo" type="file.model.fileVo"/>
		<typeAlias alias="commentVo" type="comment.model.commentVo"/>
	
	</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="db/mybatis/mapper/user.xml"/>
    <mapper resource="db/mybatis/mapper/board.xml"/>
    <mapper resource="db/mybatis/mapper/bulletin.xml"/>
    <mapper resource="db/mybatis/mapper/file.xml"/>
    <mapper resource="db/mybatis/mapper/comment.xml"/>
  </mappers>
</configuration>